.dino {
  width: 150px;
  height: 150px;
  outline: 2px solid red;
  overflow: hidden;
}

.dino > div {
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: auto 100%;
  outline: 1px solid green;
  position: relative;
}

.dino.idle > div > img {
  position: absolute;
  animation: dino-idle 1s steps(10) infinite alternate;
}

@keyframes dino-idle {
  from {
    left: 0;
  }

  to {
    left: -1500px;
  }
}

.dino.running > div > img {
  position: absolute;
  animation: dino-running 0.75s steps(8) infinite;
}

@keyframes dino-running {
  from {
    left: 0;
  }

  to {
    left: -1200px;
  }
}

.dino.jumping > div > img {
  position: absolute;
  animation: dino-jumping 1s steps(11) 1;
  animation-fill-mode: forwards;
}

@keyframes dino-jumping {
  from {
    left: 0;
  }

  to {
    left: -1650px;
  }
}
