@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  user-select: none;
}

img {
  pointer-events: none;
}
